{% extends 'base.html.twig' %}

{% block title %}Liste des collaborateurs non affectés{% endblock %}

{% block metadescription %}
{% endblock %}
{% block stylesheets %}

    
    
{% endblock %}

{% block body %}

    <header class="flex">
        <div class="logo_wacdo flex container">
            <div>
            <img src="{{asset('images/logo.png')}}" alt="logo wacdo">
            <a href="{{path('app_logout')}}" title="déconnexion"><button>Se déconnecter</button></a>
        </div>
            <a href="{{path('app_collaborateur')}}"><button>Retour</button></a>
        </div>
    </header>

    <h1>Liste des employés non affectés</h1>

    <div class="list_collab container">
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail</th>
                    <th>Date d'embauche</th>
                    <th>Fiche employé</th>
                </tr>
            </thead>
            <tbody>
                {% include "collaborateur/_tBodyListe.html.twig" %}
            </tbody>
        </table>
    </div>


{% endblock %}