<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content={% block metadescription %}{% endblock %}>
        <link rel="icon" href="{{asset('images/logo.png')}}">
        <link rel="stylesheet" href="{{asset('css/root.css')}}">
        <link rel="stylesheet" href="{{asset('css/general.css')}}">
        <link rel="stylesheet" href="{{asset('css/header.css')}}">
        {% block stylesheets %}
        {% endblock %}

        
    </head>
    <body>
        {% block body %}
        {% endblock %}


        {% block javascripts %}
        {% endblock %}
    </body>
</html>
